<template>
  <div class="about">
    <h1>This is an about page</h1>
    <f-button icon="home">Home</f-button>
    <command-bar collapsed="true">
      <template slot-scope="CommandBar">
        <app-bar-button icon="home" label="Home" :collapsed="CommandBar.collapsed"></app-bar-button>
        <app-bar-separator></app-bar-separator>
        <app-bar-button icon="cog" label="Settings" :collapsed="CommandBar.collapsed"></app-bar-button>
      </template>
    </command-bar>
  </div>
</template>

<script>
import FButton from '../components/Button.vue';
import CommandBar from '../components/CommandBar.vue';
import AppBarButton from '../components/AppBarButton.vue';
import AppBarSeparator from "../components/AppBarSeparator.vue";

export default {
  components:{
    FButton : FButton,
    CommandBar: CommandBar,
    AppBarButton: AppBarButton,
    AppBarSeparator: AppBarSeparator
  }
}
</script>
