<template>
  <div class="home">
    <div class="container">
      <LifeCounter :lifeTotal = "40" playerName = "Player1"></LifeCounter>
      <LifeCounter :lifeTotal = "40" playerName = "Player2"></LifeCounter>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import LifeCounter from "@/components/LifeCounter.vue";

export default {
  name: "home",
  components: {
    LifeCounter
  }
};
</script>

<style lang="stylus">

</style>
