<template lang="pug">
    div.settings
        h1 This is the settings page
        div.container.acrylic.medium-high
            h2 Starting Life
            div.container.options
                button.acrylic.shadow(v-for="total in lifeTotals", v-bind:class="{isActive: isActive(total)}" v-on:click="setTotal(total)") {{total}}
                
</template>

<script>
export default {
  name: "settings",
  data: function() {
    return {
      lifeTotals: [20, 25, 30, 40]
    };
  },
  methods: {
    isActive(total) {
      return this.$store.state.startingTotal === total;
    },
    setTotal(total) {
      this.$store.commit("setStartingTotal", total);
    }
  }
};
</script>

<style lang="stylus" scoped>
    .isActive 
        border 1.5px solid #0078d7 !important
        border-radius 1px
    .options button
        margin 0 .5em
        border none 
        text-align center
        font-size 2em
        font-weight bold
        background none
      
</style>
