<template lang="pug">
  div.root
    icon(:icon="icon")
    p(v-if="!collapsed" :class="labelClass") {{label}}
</template>


<script>
import Icon from "./Icon.vue";
export default {
  props: {
    iconStyle: String,
    icon: {
      type: String,
      required: true
    },
    hoverStyle: String,
    label: String,
    labelPosition: {
      type: String,
      default: "bottom"
    },
    collapsed: Boolean
  },
  computed: {
    labelClass: function() {
      return this.labelPosition === "bottom" ? "label" : "label right";
    }
  },
  components: {
    icon: Icon
  }
}
</script>

<style lang="stylus" scoped>
@import "../styles/theme"
.root
  font-size 14
  color baseMediumHigh
  background none
  display flex
  flex-direction: column
  align-items center
  justify-content flex-start
  flex 0 0 auto 
  height 100%
  padding 0 10px
  max-width 72
  cursor: "default"
  transition: "all .25%"
  .right
    flex-direction row
    max-width 120
  &:hover
      background listAccentLow
.label
  line-height 1
  height 28
  font-size 12
  width 100%
  text-align center
  text-overflow ellipsis 
  overflow hidden
  .right
    height 0
    line-height 0
</style>
