<template>
    <div>
        <div v-if="icon">
            <div v-if="iconPosition === 'right'">
                <button>
                    <span>
                        <slot>
                        </slot>
                    </span>
                    <icon class="button-icon" :icon="icon">
                    </icon>
                </button>
            </div>
            <div v-else>
                <button>
                    <icon class="button-icon" :icon="icon">
                    </icon>
                    <span>
                        <slot>
                        </slot>
                    </span>
                </button>
            </div>
        </div>
        <div v-else>
            <button>
                <slot>
                </slot>
            </button>
        </div>
    </div>
</template>

<style lang="stylus">
@import "../styles/theme";
button
    display inline-block
    cursor pointer
    color baseHigh
    outline none 
    padding 4px 16px
    transition all .25s
    border 2px solid transparent
    background baseLow 
    &:hover
        border 2px solid baseMediumLow
    &:active
        background baseMediumLow
    &:disabled
        background baseMedium 
        cursor not-not-allowed
        color baseMedium

.button-icon
    padding 0 4px
    display inline-block

</style>

<script>
import Icon from "./Icon.vue";

export default {
  components: {
      Icon: Icon
  },
  props: {
    icon: String,
    iconPosition: {
      type: String,
      default: "left"
    }
  }
};
</script>
