<template lang="pug">
    div.wrapper
        div.root
            div.content
                slot(name="content")
            div.commands(:class="commandsClass")
                slot(:collapsed="collapsed")
                app-bar-button(icon="ellipsis-h")
</template>

<style lang="stylus" scoped>
minimalDefaultHeight = 24
defaultHeight = 48
expandedHeight = 72

.wrapper
    height defaultHeight
    display block
    z-index void 0
    .expanded
        z-index 200
.root
    position relative
    display flex
    flex-direction row-reverse
    align-items flex-start
    justify-content flex-start
    font-size 14
    color baseMediumHigh 
    background listLow
    height defaultHeight
    transition "all .125s ease-in-out"
    .haveContent
        flex-direction row
        align-items space-between
    .minimal
        height minimalDefaultHeight
    .expanded
        height expandedHeight
.content
    height defaultHeight
    line-height defaultHeight
    padding-left 10
    padding-right 10
    .minimal
        height minimalDefaultHeight
        line-height minimalDefaultHeight
.commands
    display flex
    flex-direction row
    align-items flex-start
    height 100%
.secondaryCommands
    width auto 
    max-width 240
    z-index 200
    position "absolute"
    right 0
    left 0
    top defaultHeight
    bottom defaultHeight
    transform translate3d(0, -8px, 0)
    opacity 0
    pointer-events none
    .expanded
        transform translate3d(0, 0px, 0)
        opacity 1
        pointer-events all
</style>

<script>
import AppBarButton from "./AppBarButton.vue";

export default {
    props: {
        isMinimal: Boolean
    },
    data: function(){
        return {
            collapsed: false
        }
    },
    components: {
        AppBarButton: AppBarButton
    },
    computed: {
        commandsClass: function(){
            var classes = "";
            if(this.isMinimal){
                classes += "minimal "
            }
            if(!this.collapsed){
                classes += "expanded "
            }
            return classes
        }
    }
}
</script>
