<template lang="pug">
    font-awesome-icon(:icon="icon")
</template>

<script>
export default {
  props:{
    icon: {
      type: String,
      required: true
    }
  }
}
</script>

<style lang="stylus" scoped>
.icon
    display: inline-block
    text-align: center
    vertical-align: middle
    transition: "all .25s"
    border: none
    outline: "none"
    user-select: none
</style>
