<template>
    <div class="LifeCounter acrylic shadow container">
        <div class="playerName">{{playerName}}</div>
        <div class="lifeTotal">
          <finput class="lifeTotal" :value="animatedNumber"/>
        </div>
        <div>
            <span class="lifeButtons">
                <fbutton class="reduce" @click.native="total-=10">10</fbutton>
                <fbutton class="reduce" @click.native="total-=5">5</fbutton>
                <fbutton class="reduce" @click.native="total--">-</fbutton>
                <fbutton @click.native="total++">+</fbutton>
                <fbutton @click.native="total+=5">5</fbutton>
                <fbutton @click.native="total+=10">10</fbutton>
            </span>
        </div>
    </div>
    
</template>

<script>
import FButton from "./Button.vue";
import FInput from "./TextField.vue";
import separator from "./Separator.vue";
import TweenLite from "gsap/TweenLite";

export default {
  name: "LifeCounter",
  props: {
    lifeTotal: Number,
    playerName: String
  },
  components: {
    fbutton: FButton,
    finput: FInput,
    separator: separator
  },
  computed: {
    animatedNumber: function() {
      return this.tweenedNumber.toFixed(0);
    }
  },
  data: function() {
    return {
      total: this.lifeTotal,
      tweenedNumber: this.lifeTotal
    };
  },
  watch: {
    total: function(newValue) {
      TweenLite.to(this.$data, 0.45, { tweenedNumber: newValue });
    }
  }
};
</script>

<style lang="stylus" scoped>
@import "../styles/theme"

.column
    flex-direction colums 
body, .acrylic::before
    image()
.LifeCounter
    margin 5px 10px
    height 10rem
    align-content center
    flex-direction column
.playerName
    font-size 2rem
.lifeTotal
    font-size 3rem
    font-weight bold
    color accent
    width 5rem
    text-align center
.lifeButtons
    display flex
    font-size 1.8rem
.reduce
    color red !important
</style>
