<template lang="pug">
span(:class="{directionStyle}")
</template>

<script>
export default {
  props: {
    direction: {
      type: String,
      default: "column",
      validator: function(value) {
        return ["column", "row"].indexOf(value) !== -1;
      }
    }
  },
  computed: {
    directionStyle: function() {
      return this.direction === "column" ? "separator-v" : "separator-h";
    }
  }
};
</script>


<style lang="stylus">
@import "../styles/theme"
.separator
    display inline-inline-block
    flex 0 0 auto 
    background: baseLow
    margin 0 auto
.separator-h
    @extends .separator
    width 100%
    height 1
.separator-v
    @extends .separator
    width 1
    height 100%
</style>
