<template>
    <input :value="value">
</template>

<script>
export default {
  props: {
    value: String
  }
};
</script>


<style lang="stylus">
@import "../styles/theme";
input 
    line-height 32px
    height 32
    width 298
    padding 0 8px
    font-size 14
    display flex
    flex-direction row
    align-items center
    //color baseHigh
    background none
    box-shadow inset 0px 0px 0 2px baseLow
    border none
    transition all .25s
    &:focus
        color #000
        background #fff
        box-shadow inset 0px 0px 0 2px accent
    &:hover
        background altMedium
        box-shadow inset 0px 0px 0 2px baseMedium
    
</style>
