<template>
    <div>
        <span>
        </span>
    </div>
</template>

<style lang="stylus">
div
    height 28
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    padding 4px 8px
    transition "all .25s 0s ease-in-out"
    border "1px solid"
    color black
    opacity 1
</style>
