<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> | 
      <router-link to="/settings">Settings</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="stylus">
@import "styles/theme"
#app
  font-family 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50

#nav
  padding 30px
  a
    font-weight bold
    color #2c3e50
    &.router-link-exact-active
      color #42b983

image()
    background: #333333 url("/img/res/weatherlight_wall.jpg") fixed center
    background-size: cover
body
  image()
.container
  display flex
  flex-wrap wrap
  justify-content space-around
  align-items center
.acrylic
  flex: auto
  position: relative
  overflow: hidden
.acrylic::before
  content: ""
  position: absolute
  left: -1*8px
  top: -1*8px
  right: -1*8px
  bottom: -1*8px
  z-index: -1*1
  background-blend-mode: exclusion
  filter: blur(8px)
  -webkit-filter: blur(8px)
  filter: url(#blur)
  filter: unquote("progid:DXImageTransform.Microsoft.Blur(PixelRadius='8')")
.acrylic::after
  content: ""
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: -1*1
  box-shadow: 0 0 3px rgba(black, 0.1)
  background-color: rgba(white, 0.8)
  background-image: url("/img/res/whitenoise.png")
.acrylic.medium::after
  background-color: rgba(white, 0.4)
.acrylic.medium-high::after
  background-color: rgba(white, 0.6)
.border
  border: 1.5px solid #0078d7
  border-radius: 1px
.shadow
  box-shadow: 0 0 1px rgba(black, 0.25), 0 1px 8px rgba(black, 0.25), 0 10px 30px rgba(black, 0.1)

</style>
